{% extends 'index.html' %} {% load static %} {% block title %}Patient
Page{%endblock title %} {% block content %}
<div class="container">
  <form class="row g-5" action="/patient/" method="post">
    {% csrf_token %}
    <div>
      <div class="col-5">
        <label for="inputEmail4" class="form-label">Email</label>
        <input
          type="email"
          name="email"
          class="form-control"
          id="inputEmail4"
        />
      </div>
    </div>
    <div class="col-5">
      <select
        class="form-select form-select-lg mb-3"
        aria-label=".form-select-lg example"
        name="doctor_name"
      >
        <option disabled selected>Choose from the list of doctors...</option>

        {% for doctor in doctors_list%}
        <option value="{{doctor.user.email}}">{{doctor.user.username}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col-8">
      <label for="inputAddress" class="form-label">Description</label>
      <textarea
        class="form-control"
        rows="5"
        name="desc"
        id="inputAddress"
        placeholder="Your Description"
      ></textarea>
    </div>

    <div class="col-md-2">
      <label for="inputZip" class="form-label">Phone Number</label>
      <input type="text" class="form-control" id="inputZip" name="phoneNum" />
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Book Appointment</button>
    </div>
  </form>
</div>

{% endblock content %}
